/* -------- Importing resources --------*/
/* FONTS-------------- */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
/* EMOJIS */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 1300, "GRAD" -25, "opsz" 48;
  font-size: 3vw;
}

/* -------- Variables --------*/
/* -------- Mixins --------*/
/* _____STYLE_____ */
h1 {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
}

h2 {
  margin: 0;
  color: grey;
  font-family: "Press Start 2P", cursive;
  font-size: 1.9rem;
}

h3 {
  color: grey;
  font-family: "Space Mono", monospace;
  font-size: 1.9rem;
}

h4 {
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
  margin: 0.5vw 0;
}

.menu-screen a, .menu-screen div p {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  color: black;
}

p {
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: rgb(143, 104, 68);
  font-size: 1rem;
}

.tech_name {
  display: none;
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
}

ul {
  list-style: square;
}

.softskill, .plusskill, .recent_ed, .recent_exp div {
  font-family: "Space Mono", monospace;
  font-size: min(2.6vw, 1.2rem);
}
.softskill span, .softskill p, .plusskill span, .plusskill p, .recent_ed span, .recent_ed p, .recent_exp div span, .recent_exp div p {
  margin: 0 0.3vw;
  color: grey;
}
.softskill ul, .plusskill ul, .recent_ed ul, .recent_exp div ul {
  font-size: 1rem;
  color: grey;
}
.softskill ul li, .plusskill ul li, .recent_ed ul li, .recent_exp div ul li {
  margin: 0.3vw;
}

.contact_list li {
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
}

.section_icon {
  margin: 0 1.5vw 0 0;
  position: relative;
  bottom: 10px;
  font-size: 2.5rem;
}

.subsection-icon {
  margin: 0 1.5vw 0 0;
  font-size: 1.9rem;
}

.hardskill {
  margin: 2.5% 4.5%;
  width: min(7vw, 80px);
  min-width: 70px;
  max-width: 90px;
}

.in_icon {
  width: 30px;
}

.button {
  margin: 1rem 3rem;
  padding: 0 2rem;
  width: 350px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.7rem solid black;
  border-radius: 2.5rem;
  box-shadow: rgba(58, 58, 58, 0.4) 5px 5px, rgba(95, 95, 95, 0.3) 10px 10px, rgba(126, 126, 126, 0.2) 15px 15px, rgba(184, 184, 184, 0.1) 20px 20px, rgba(207, 207, 207, 0.05) 25px 25px;
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.1);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

section {
  box-sizing: border-box;
  padding: 5vh 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

@keyframes marquee {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  to {
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .construction-label:first-child {
  left: -15%;
  transform: rotate(330deg);
}
.home .construction-label:nth-child(2) {
  right: -15%;
  transform: rotate(14deg);
  top: 32%;
}
.home .construction-label {
  position: absolute;
  background-color: rgb(255, 230, 0);
  border: 7px solid black;
  width: 120vw;
  overflow: hidden;
}
.home .construction-label .bars {
  font-weight: bold;
}
.home .construction-label p {
  width: max-content;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-family: "Press Start 2P", cursive;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}
.home .construction-label p span {
  margin: 0 10px;
}
.home .menu-screen {
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  align-self: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.7rem solid black;
  border-radius: 2.5rem;
  box-shadow: rgba(58, 58, 58, 0.4) 5px 5px, rgba(95, 95, 95, 0.3) 10px 10px, rgba(126, 126, 126, 0.2) 15px 15px, rgba(184, 184, 184, 0.1) 20px 20px, rgba(207, 207, 207, 0.05) 25px 25px;
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
  font-weight: bold;
}
.home .menu-screen .menu {
  width: 410px;
  margin: 0;
  padding: 25px 30px;
  list-style: inside square;
  box-sizing: border-box;
}
.home .menu-screen .menu li {
  margin: 30px 0px;
}
.home .menu-screen .menu li::before {
  position: absolute;
  left: 30px;
  content: "";
  display: none;
  height: 50px;
  width: 50px;
  background-image: url("../images/24686-5-tinycursor.png");
  background-size: contain;
}
.home .menu-screen .menu li:hover {
  list-style-type: none;
  padding-left: 60px;
}
.home .menu-screen .menu li:hover::before {
  display: inline-block;
}
.home .menu-screen div {
  width: 100%;
  text-align: center;
  border-top: 7px solid black;
}
.home .menu-screen div p {
  margin: 10px 0px;
  font-size: 2.2rem;
  transform: rotate(-90deg);
}

.my-name {
  margin: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}
.my-name h1 {
  margin: 5px 0px;
}
.my-name h3 {
  margin: 3px 0;
}

.menu-finder {
  padding: 0;
  position: fixed;
  top: 3%;
  right: 3%;
  width: 150px;
  height: 300px;
}
.menu-finder .nav_burguer {
  display: none;
}

.menu-finder:hover .nav_burguer {
  display: block;
  transform: translateX(0vw);
}

.nav_burguer {
  padding: 0;
  position: absolute;
  top: 3%;
  right: 3%;
  width: 90px;
  transform: translateX(30vw);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.7rem solid black;
  border-radius: 2.5rem;
  box-shadow: rgba(58, 58, 58, 0.4) 5px 5px, rgba(95, 95, 95, 0.3) 10px 10px, rgba(126, 126, 126, 0.2) 15px 15px, rgba(184, 184, 184, 0.1) 20px 20px, rgba(207, 207, 207, 0.05) 25px 25px;
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
  font-weight: bold;
}
.nav_burguer .burger_svg {
  display: none;
}
.nav_burguer ul {
  padding: 1.5vh 0;
  margin: 0;
  width: 100%;
  list-style: none;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}
.nav_burguer ul li {
  margin: 1vh;
}
.nav_burguer ul li a {
  font-size: 2.5vh;
}
.nav_burguer .site_settings {
  border-bottom: 7px solid black;
}
.nav_burguer .site_settings .flag_icon {
  font-size: 69%;
}
.nav_burguer .site_settings .light-theme {
  display: none;
}

.about_me {
  box-sizing: border-box;
  padding: 5vh 2%;
  height: auto;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content auto 1fr 2.5fr;
}
.about_me .section_icon {
  grid-column: 1/2;
  grid-row: 1/4;
}
.about_me h1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.about_me .description-box {
  grid-column: 2/3;
  grid-row: 2/3;
}
.about_me .portfolio {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  margin: 5vh 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.about_me .portfolio .subsection-title {
  margin: 5vh 0;
  display: flex;
  align-items: center;
}
.about_me .portfolio .portfolio-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about_me .skills-box {
  margin: 5vh 0;
  grid-column: 2/3;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr)) repeat(2, minmax(60px, 1fr));
  grid-template-rows: max-content repeat(3, 1fr);
  grid-template-areas: "title title title plus plus" "hard hard hard plus plus" "hard hard hard soft soft" "hard hard hard soft soft";
}
.about_me .skills-box .skill-title {
  grid-area: title;
  margin: 5vh 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  align-self: end;
}
.about_me .skills-box .hardskills-container {
  grid-area: hard;
  margin-left: 2vw;
  position: relative;
  display: flex;
  border-radius: 3vw;
  background-color: rgb(245, 245, 245);
  margin: 0;
}
.about_me .skills-box .hardskills-container .diamond-icon {
  opacity: 50%;
  font-size: 5vh;
  position: absolute;
  bottom: -1.5%;
  left: -1.5%;
}
.about_me .skills-box .hardskills-container .hardskills-list {
  box-sizing: border-box;
  padding: 1vh 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  align-content: space-evenly;
  list-style: none;
}
.about_me .skills-box .softskills-container {
  grid-area: soft;
  justify-self: center;
  margin-left: 2vw;
  position: relative;
  display: flex;
  border-radius: 3vw;
  background-color: rgb(245, 245, 245);
  align-items: center;
}
.about_me .skills-box .softskills-container .softskills-list {
  padding: 0 2vw 0 3.5vw;
  height: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about_me .skills-box .softskills-container .seed-icon {
  opacity: 50%;
  font-size: 5vh;
  position: absolute;
  bottom: 87%;
  left: -4.5%;
}
.about_me .skills-box .plusskills-container {
  grid-area: plus;
  align-self: center;
  justify-self: center;
  margin-left: 2vw;
  position: relative;
  display: flex;
  border-radius: 3vw;
  background-color: rgb(245, 245, 245);
  height: 60%;
}
.about_me .skills-box .plusskills-container .plusskills-list {
  height: 80%;
  padding: 0 2vw 0 3.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  word-break: break-all;
}
.about_me .skills-box .plusskills-container .check-icon {
  opacity: 50%;
  font-size: 5vh;
  position: absolute;
  bottom: 75%;
  left: 88%;
}

.chronology {
  margin: 0 0 64px 5vh;
  margin-left: 64px;
  margin-top: 0;
  width: 94%;
  box-sizing: border-box;
  padding: 0 3%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.chronology ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}
.chronology p {
  margin: 1vh;
}
.chronology .date {
  display: inline-block;
  margin-left: 0.5vw;
  color: gray;
  font-weight: 400;
}
.chronology .ed, .chronology .exp {
  min-width: 430px;
  width: fit-content;
  max-width: 43vw;
  margin-bottom: 3vh;
}
.chronology .exp-title, .chronology .ed-title {
  margin: 5vh 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.chronology .recent_ed, .chronology .recent_exp {
  margin: 1.5vw;
  padding: 0 1vw 1vw 3vw;
  border: 7px solid rgb(255, 223, 193);
  border-radius: 2.5vw;
}
.chronology .old_ed, .chronology .old_exp {
  margin-left: 2vw;
  position: relative;
  display: flex;
  border-radius: 3vw;
  background-color: rgb(245, 245, 245);
  margin: 0 2vw;
  padding: 1vh 3vw;
  flex-direction: column;
}
.chronology .old_ed li, .chronology .old_exp li {
  margin: 1vh 0;
}
.chronology .old_ed .exp_details, .chronology .old_exp .exp_details {
  display: none;
  position: absolute;
  bottom: -50%;
  left: 5%;
  background-color: white;
  border-radius: 18px;
  padding: 0 1vw;
  box-shadow: 5px 5px 0px 5px grey;
}
.chronology .old_ed .exp_card:hover, .chronology .old_exp .exp_card:hover {
  position: relative;
}
.chronology .old_ed .exp_card:hover .exp_details, .chronology .old_exp .exp_card:hover .exp_details {
  display: block;
}

.contact {
  width: 100%;
  height: auto;
  padding: 3vh 2%;
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-template-areas: "icon title button" "icon list button";
  grid-template-columns: max-content auto max-content;
  grid-template-rows: max-content 1fr;
  justify-items: start;
  align-items: center;
}
.contact .section_icon {
  grid-area: icon;
  align-self: flex-start;
}
.contact h1 {
  grid-area: title;
}
.contact .contact_list {
  box-sizing: border-box;
  padding: 2vh 0 0 0;
  width: 100%;
  grid-area: list;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  min-height: 11vh;
  justify-content: flex-start;
  align-items: center;
}
.contact .contact_list a {
  margin-left: 12px;
  font-size: 1.2rem;
}
.contact .contact_list li:last-child {
  display: flex;
  align-items: center;
}
.contact .contact_list li {
  display: inline;
  width: max-content;
  margin: 0 1vw;
}
.contact .contact_list li div {
  display: inline;
}
.contact #download_cv {
  align-self: center;
  justify-self: center;
  width: max-content;
  padding: 0 3vw;
  margin: 3vh 8vh;
  grid-area: button;
  color: black;
}

@media only screen and (max-width: 992px) {
  .section_icon {
    display: none;
  }
  .button {
    margin: 1rem 1rem;
  }
  .home {
    padding-top: 0;
  }
  .home .construction-label:first-child {
    left: 0;
    transform: rotate(0deg);
    position: relative;
    width: 100%;
    border-right: 0;
    border-left: 0;
  }
  .home .construction-label:nth-child(2) {
    display: none;
  }
  .home .menu-screen {
    top: 0;
    transform: translateY(0);
    margin: 3vw 0;
  }
  .menu-screen .menu {
    width: min(84vw, 410px);
  }
  .menu-screen .menu a {
    font-size: 128%;
  }
  .about_me {
    padding: 5vh 0;
  }
  .about_me h1 {
    padding: 0 2%;
  }
  .about_me .description-box {
    width: 95%;
    padding-left: 2%;
  }
  .about_me .skills-box {
    grid-template-columns: auto;
    grid-auto-rows: max-content;
    grid-template-areas: "title title" "hard hard" "hard hard" "hard hard" "soft soft" "soft soft" "plus plus" "plus plus";
    row-gap: 25px;
  }
  .about_me .skills-box .hardskills-container {
    justify-self: center;
    width: 100%;
  }
  .about_me .skills-box .softskills-container {
    width: 100%;
  }
  .about_me .skills-box .softskills-container .softskill {
    font-size: 1.2rem;
  }
  .about_me .skills-box .softskills-container .seed-icon {
    left: 83.5%;
    bottom: 63%;
  }
  .about_me .skills-box .plusskills-container {
    width: 100%;
    height: max-content;
  }
  .about_me .skills-box .plusskills-container .check-icon {
    left: 83.5%;
    bottom: 53%;
  }
  .about_me .skills-box .plusskills-container .plusskill {
    font-size: 1.2rem;
  }
  .chronology {
    margin: 0 0px 5vh 0;
    padding: 0;
    justify-content: flex-start;
  }
  .chronology .ed, .chronology .exp {
    width: 90%;
    max-width: none;
    min-width: 405px;
  }
  .contact {
    grid-template-columns: max-content auto max-content;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "icon title" "icon list" "icon button";
  }
  .contact #download_cv {
    margin: 3vh 0;
  }
}

/*# sourceMappingURL=sstyle.css.map */
